.reveal a.sourceLine {
    color: #657b83;
}

.reveal pre {
    font-size: 0.8em;
    line-height: inherit;
}

.reveal code {
    color: #268bd2;
    font-size: 90%;
}

.reveal pre code {
    font-size: 80%;
    max-height: inherit;
}
